/* SELETOR UNIVERSAL - RESET BÁSICO */
*{
 margin:0; /* zera todos os lados da margem */
 padding:0; /* zera todos os lados do espaçamento interno */
 box-sizing: border-box; /* altera a forma cde largura e altura de um elemento */
}
#titulo{
    color:red;
    font-size:40px;
}
#titulo2{
    color:green;
    font-size:70px;
}

.tituloGeral{
    color:purple;
    font-size:60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}